<div class="banner" id="Home" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 70%), url('<%= image_path 'christine-donaldson-643679-unsplash.jpg' %>');">
  <div class="headlines">
    <h1 class="tagline text-center">
     Bonjour<span class="point">.</span> <span class= "tagline2 text-center"> Je suis Anna<span class="point">. </span>  </h1>
    </h1>
    <h2 class="punchline text-center"> Web developer & designer</h2>
  </div>
</div>
<br>
<br>
<div data-scroll>
  <div class= "container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class=" text-center mypic" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 70%), url('<%= image_path 'Anna (2).png' %>');">
        </div>
      </div>
    <br id="CV">
    <div class="col-xs-12 col-md-6 col-sm-6">
      <div class="presentation" >
       <h2 class="title" > A propos de moi. </h2>
       <p class= "maj"> RUBY/REACT WEB DEVELOPER & WEB DESIGNER </p>
       <p class="text"> Ancienne étudiante à Paris Dauphine en droit et gestion, je me suis reconvertie en
        développeuse web. Passionnée aussi bien de Back-end que de Front-end, je peux designer et développer vos sites vitrines ou e-commerce. </p>
        <br>
        <%= link_to "TELECHARGER LE CV", download_pdf_path, class: "mybtn" %>
         <div class= "contact">
          <br>
          <%= link_to '<i class="fab fa-facebook-f"></i>'.html_safe,  'https://www.facebook.com/anna.bendahan.7', class: "icon " %>
          <%= link_to '<i class="fab fa-instagram"></i>'.html_safe,  'https://www.instagram.com/lebendan/', class: "icon " %>
          <%= link_to '<i class="fab fa-linkedin-in"></i>'.html_safe,  'https://www.linkedin.com/in/anna-bendahan-55324113a/', class: "icon" %>
          <%= link_to '<i class="fab fa-github"></i>'.html_safe,  'https://github.com/Annabendahan', class: "icon" %>
        </div>
        </div>

      </div>

    </div>
  </div>
</div>
<div class="grey-container">
  <h2 class= "titleall text-center" id="Services">Services.</h2>
  <br>
  <br>
    <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="square text-center">
          <i class="fas fa-wrench i1"></i>
          <h3 class="stitle "> Backend </h3>
          <p> Backend en <strong> Ruby on Rails (MVC) </strong>, BDD relationnelles <strong> SQL </strong>, yarn, webpack </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="square text-center">
          <i class="far fa-eye i2"></i>
          <h3 class="stitle "> Frontend </h3>
          <p> <strong> HTML5, SCSS, Bootstrap </strong> pour un site agréable et responsif. </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="square text-center">
          <i class="fas fa-tv i3"></i>
          <h3 class="stitle "> Site dynamique </h3>
          <p> JavaScript et le framework <strong> React.js </strong> pour un site dynamique et moderne.  </p>
        </div>
      </div>
    </div>
  <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="square text-center">
          <i class="fas fa-gem i4"></i>
          <h3 class="stitle "> Webdesign </h3>
          <p> Design de sites, ou de bannières publicitaires, mockups... </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="square text-center">
          <i class="fas fa-lightbulb i5"></i>
          <h3 class="stitle "> Créativité </h3>
          <p> Sketch et la suite Adobe pour un design travaillé au pixel près.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="square text-center">
          <i class="fas fa-hands-helping i6"></i>
          <h3 class="stitle "> Production </h3>
          <p> Déploiement des sites sur <strong> Heroku </strong>  </p>
        </div>
      </div>
    </div>
  </div>
</div>


<h2 class= "titleall text-center" id="Portfolio">Projets.</h2>

<div class="container">
    <h4 class= "text-center subtitle" id="Portfolio" color="#54A9BF"> Site Easyfork </4>
<br>
<br>
   <div class="row">
      <div class="col-xs-12 col-md-6 col-sm-6">
          <img src='<%= image_path 'easyfdemo.png' %>' class= "text-center" width= "300">
      </div>
        <div class="col-xs-12 col-md-6 col-sm-6">
          <div class="squarew">
            <br>
            <br>
            <p> Site co-développé au Wagon, permet de réserver et commander à l'avance dans les restos pour ne pas avoir à attendre! Framework <strong> Ruby On Rails . </strong> <strong> Authentification et authorization (Pundit) </strong>, paiement via <strong> Stripe </strong>, panier de commande Ajax, <strong> Google maps API </strong>, <strong> Cloudinary </strong>... </p>
            <br>
            <%= link_to 'VOIR LE SITE',  'https://www.easyfork.xyz', class: "mybtn" %>
            <%= link_to '<i class="fab fa-github"></i>'.html_safe,  'https://github.com/xeviros/easyfork', class: "icon" %>
          </div>
        </div>
      </div>
    </div>




    <div class="container">
    <h4 class= "text-center subtitle" id="Portfolio" color="#54A9BF"> The Burger-App </4>
<br>
<br>
   <div class="row">
      <div class="col-xs-12 col-md-6 col-sm-6">
          <img src='<%= image_path 'burgerapp.png' %>' class= "text-center" width= "300">
      </div>
        <div class="col-xs-12 col-md-6 col-sm-6">
          <div class="squarew">
            <br>
            <br>
            <p> Single-page app pour construire son burger. Faite en <strong> React.js </strong>, management dynamique du <strong> "State", Routing </strong>.
            <br>
            <br>
            <br>
            <%= link_to 'VOIR LE SITE',  'https://makeyourburger.herokuapp.com', class: "mybtn" %>
            <%= link_to '<i class="fab fa-github"></i>'.html_safe,  'https://github.com/Annabendahan/burgerapp', class: "icon" %>
          </div>
        </div>
      </div>
    </div>


<h4 class= "text-center subtitle" id="Portfolio"> Digital marketing pour Rentman </h4>
<br>
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class=" photo design1 text-center">
          <a href='<%= image_path 'bannerrentman.png' %>' target="new" >
            <img src='<%= image_path 'bannerrentman.png' %>'  height="280" width="120">
          </a>
        </div>
      </div>
      <br>
      <br>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="photo design2 text-center fix">
          <a href='<%= image_path 'sonomag.png' %>' target="new">
            <img src='<%= image_path 'sonomag.png' %>' height="200" width="350">
          </a>
        </div>
      </div>
      <br>
      <br>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class=" photo design3 text-center ">
          <a href='<%= image_path 'liteblog.png' %>' target="new" >
            <img src='<%= image_path 'liteblog.png' %>' height="200" width="350">
          </a>
        </div>
      </div>
    </div>
  </div>


  <br>
  <br>


<br>
<br>
<div class="grey-container">
<h2 class= "titleall text-center" id="Contact">Contact.</h2>
<div class="row text-center">
      <div class="col-xs-12 col-md-6 col-sm-6">
          <i class="fas fa-envelope mail"></i>
          <br>
          <br>
          <p> an.bendahan@gmail.com</p>
      </div>
      <div class="col-xs-12 col-md-6 col-sm-6">
          <i class="fas fa-phone phone"></i>
          <br>
          <br>
          <p>  0659133919</p>
      </div>
    </div>



    </div>
  </div>
</div>


