<div class="banner" id="Home" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 70%), url('<%= image_path 'GOPR0623.jpg' %>');">
  <div class="headlines">
    <h1 class="tagline text-center">
      Hello<span class="point">.</span> <span class= "tagline2 text-center"> I am Anna<span class="point">.</span>  </h1>
    </h1>
    <h2 class="punchline text-center"> -  Web developper  - </h2>
    <h2 class="punchline2 text-center"> -  Web designer  -</h2>
  </div>
</div>

<br>
<br>

<div data-scroll>
  <div class= "container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class=" text-center mypic" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 70%), url('<%= image_path 'Anna (2).png' %>');">
        </div>
      </div>
    <br id="CV">
    <div class="col-xs-12 col-md-6 col-sm-6">
      <div class="presentation" >
       <h2 class="title" > A propos de moi. </h2>
       <p class="text"> Ancienne étudiante à Paris Dauphine en droit et gestion, je me suis reconvertie en
        développeuse web. Créative et passionnée de design, je
        cherche un CDI ou des projets free-lance en
        développement et web design.</p>
        <br>
        <%= link_to "TELECHARGER LE CV", download_pdf_path, class: "btn" %>
         <div class= "contact">
          <br>
          <%= link_to '<i class="fab fa-facebook-f"></i>'.html_safe,  'https://www.facebook.com/anna.bendahan.7', class: "icon " %>
          <%= link_to '<i class="fab fa-instagram"></i>'.html_safe,  'https://www.instagram.com/lebendan/', class: "icon " %>
          <%= link_to '<i class="fab fa-linkedin-in"></i>'.html_safe,  'https://www.linkedin.com/in/anna-bendahan-55324113a/', class: "icon" %>
          <%= link_to '<i class="fab fa-github"></i>'.html_safe,  'https://github.com/Annabendahan', class: "icon" %>
        </div>
        </div>

      </div>

    </div>
  </div>
</div>


<div class="grey-container">
  <h2 class= "titleall text-center" id="Services">Services.</h2>
    <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="square text-center">
          <i class="fas fa-wrench "></i>
          <h3 class="stitle "> Back end </h3>
          <p> Utilisation du langage Ruby on Rails pour l'implémentation de diverses fonctionnalités. </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="square text-center">
          <i class="far fa-eye"></i>
          <h3 class="stitle "> Front end </h3>
          <p> HTML5, CSS3 Bootstrap pour un site agréable et responsif. </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="square text-center">
          <i class="fas fa-tv"></i>
          <h3 class="stitle "> Animations </h3>
          <p> JavaScript et le framework React pour un site dynamique et moderne.  </p>
        </div>
      </div>
    </div>
  <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="square text-center">
          <i class="fas fa-gem"></i>
          <h3 class="stitle "> Webdesign </h3>
          <p> Design de pubs, mockups. </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="square text-center">
          <i class="fas fa-lightbulb"></i>
          <h3 class="stitle "> Creativité </h3>
          <p> Sketch et la suite Adobe pour un design travaillé au pixel près.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="square text-center">
          <i class="fas fa-hands-helping"></i>
          <h3 class="stitle "> Suivi</h3>
          <p> Suivi complet après création du site pour ajout de features, retouches, modifications. </p>
        </div>
      </div>
    </div>
  </div>
</div>


<h2 class= "titleall text-center" id="Portfolio">Projets.</h2>


<h4 class= "text-center subtitle" id="Portfolio"> Digital marketing pour Rentman </h4>
<br>
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class=" text-center">
          <a href='<%= image_path 'bannerrentman.png' %>' target="new">
            <img src='<%= image_path 'bannerrentman.png' %>'  height="280" width="120">
          </a>
        </div>
      </div>
      <br>
      <br>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class=" text-center fix">
          <a href='<%= image_path 'sonomag.png' %>' target="new">
            <img src='<%= image_path 'sonomag.png' %>' height="200" width="350">
          </a>
        </div>
      </div>
      <br>
      <br>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="text-center ">
          <a href='<%= image_path 'liteblog.png' %>' target="new" >
            <img src='<%= image_path 'liteblog.png' %>' height="200" width="350">
          </a>
        </div>
      </div>
    </div>
  </div>

<div class="grey-container">
  <br>
  <br>
  <div class="container">
    <h4 class= "text-center subtitle" id="Portfolio" color="#54A9BF"> Site easyfork</4>
<br>
<br>
   <div class="row">
      <div class="col-xs-12 col-md-6 col-sm-6">
        <div class="card">
          <img src='<%= image_path 'easyfork1.png' %>'  height="300" width="480">
        </div>
      </div>
        <div class="col-xs-12 col-md-6 col-sm-6">
          <div class="card">
            <p> Site co-développé au Wagon, permet de réserver et commander à l'avance dans les restos pour ne pas avoir à attendre! Implémentation des sessions utilisateurs, paiement via Stripe, panier de commande Ajax... </p>
            <%= link_to 'Voir le site',  'https://www.easyfork.xyz', class: "link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<br>

    </div>
  </div>
</div>


